h1 {
  border: 2px #eee solid;
  color: #078F00;
  text-align: center;
  padding: 10px;
}
h2 {
  color: #078F00;
  text-align: left;
  padding: 10px;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: #09B000;
	-webkit-text-decoration-color: #09B000;
}