{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Luo uusi resepti {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Reseptin nimi</label>
        <input type="text" name="title"
               placeholder="Reseptin nimi" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Ohjeet</label>
        <textarea name="content" placeholder="Ohjeet"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Lähetä</button>
    </div>
</form>
{% endblock %}